<!-- <nav class="navbar navbar-default"> Customers details</nav> -->

<div class="row">
    <div class="col-xs-12">
        <label for="name" style="margin-left: 10px;">Name:</label>
        <input
        type="text"
        id="customer_name"
        name="name"
        style="margin-right: 10px; margin-left:10px ;">
        <label for="age">City:</label>
        <input
        type="type"
        id="customer_age"
        name="customer_age"
        style="margin-right: 10px; margin-left:10px ;">
        <button class="btn btn-primary" >search</button>
    </div>
    
</div>
<hr>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">state</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          
        </tbody>
      </table> 

